<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="SMLConnection" connectionString="Server=(local);Database=SML_Workflow;User ID=sa;Password=P@ssw0rd"/>-->
    <add name="SMLConnection" connectionString="Server=192.168.137.190;Database=Mandiri;User ID=sa;Password=pass@word1"/>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'"/>
  </connectionStrings>
</configuration>